:host {
    background-image: url(./../assets/img/background-login.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

  
footer {
    height: auto;
    width: 100%;
    background-color: #fff;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 100px
}

img {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
}


@media only screen and (min-width: 900px) {
    footer {
      width: 50vw!important;
    }
  }