:host {
  display: flex;
  justify-content: center;

  .login {
    height: auto;
    min-height: 35%;
    width: 100%;
    background-color: #fff;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .height-animation {
    animation: heightSlide 0.5s ease-in-out forwards; 
  }
}

.blur-animation {
  animation: blurToNormal 0.5s ease-in-out forwards;
}

@keyframes blurToNormal {
  from {
    position: relative;
    right: -20px;
    filter: blur(7px);
  }
  to {
    right: 0;
    filter: blur(0);
  }
}

@keyframes heightSlide {
  from {
    transition: height 10s ease-in-out;
  }
  to {
    transition: height 10s ease-in-out;
  }
}
