:host {
  display: flex;
  justify-content: center;

  .login {
    height: auto;
    min-height: 35%;
    width: 100%;
    background-color: #fff;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: center;
    transition: min-height 1s ease-in-out;
  }
}

.blur-animation {
  animation: blurToNormal 0.5s ease-in-out forwards; /* Animação de 0.5s */
}

@keyframes blurToNormal {
  from {
    position: relative;
    right: -20px;
    filter: blur(7px); /* Estado inicial */
  }
  to {
    right: 0;
    filter: blur(0); /* Estado final */
  }
}

@media only screen and (width: 800px) {
  .login {
    width: 50vw;
  }
}
