* {
  margin: 0;
  padding: 0;
  font-family: inter;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  overflow-x: hidden;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

a {
    color: blue
}

input {
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  margin-bottom: 20px;


  input {
    height: 56px;
    border-radius: 10px;
    border-width: 0.5px;
    border-color: #afafaf;
    padding: 5px 10px 5px 20px
  }
}
